<div class="post-new-container">
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="post_form">
          <%= render 'posts/post_form' %>
        </div>
      </div>
    </div>
  </div>
</div>